@import "../utils/variables";
@import "../utils/animations";

.btn {
  border-radius: 10px 0;
  height: 1.8rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  border: none;
  color: $clr-medium-blue;
  background-color: $clr-medium-grey;
  font-weight: 700;
  font-family: $font-barlow;
  letter-spacing: 0.6px;

  &:hover {
    color: $clr-orange;
    animation: buttonChange;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
}
