@import "../utils/variables";

.user-section {
  display: flex;
  flex-direction: row;
}

.user {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 350px;
  min-width: 350px;
  &__user-container {
    display: flex;
    flex-direction: column;
  }

  &__name {
  }

  &__label {
    display: flex;
    justify-content: space-between;
  }

  &__button-container {
    display: flex;
    justify-content: space-between;
  }
  &__button {
    margin-right: 1rem;
    margin-top: 1rem;
  }
  button[disabled="disabled"],
  button:disabled,
  button:disabled:hover {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
}
