.week-planner {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &__container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    max-width: $max-container-width;
    // height: 50rem;
  }

  &__title {
    text-align: center;
    font-size: 3rem;
  }
}
.days__container {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}
